.detailImg{
    min-width: 300px;
    max-width:300px;
    max-height:300px;
    min-height: 300px;
}

.details{
    margin-left: 98px;
    margin-top: 75px;
    color: aliceblue;
}

.movie-details{
    background-color: black;
    margin-left: -7px;
    margin-top: 37px;
    color: darkgoldenrod;
}

.title{
    font-style: italic;
    font-size: 30px;
}

.tagline{
    font-style: italic;
    font-size: 20px;
}

.checked {
    color: orange;
}

.label{
    color: coral
}